<div class="modal" id="modal_crear_tema">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                Título de la modal
            </div>
            <div class="modal-body">
                Esto es una Modal.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick=""  data-dismiss="modal">Guardar</button>
                <button type="button" class="btn btn-light" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
