<!-- Caragamos el detalle de la vista para mostrarla -->
<div id="outer-div">
  <div id="inner-div">
    <div class="header">
      <img src="../static/img/jumichica.svg" width="300px">
    </div>
    <div class="body">
      <ul>
        <li><b>conf/</b> - variables de configuración del módulo. </li>
        <li><b>controller/controller.php</b> - procesos y cálculos. </li>
        <li><b>model/Model.php</b> - interacción de datos. </li>
        <li><b>static/</b> - css, js e img. </li>
        <li><b>view/</b> - Vistas y modales del módulo. </li>
      </ul>
    </div>
    <div class='footer'>
      <a href='www.jumichica.com'>www.jumichica.com</a>
    </div>
  </div>
</div>
